.container {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  align-items: center;
  border-radius: 4px;
}

.formContainer {
  width: 450px;
}

.header {
  margin: 0;
  text-align: center;
}
