.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.formContainer {
  width: 450px;
}

.linkContainer {
  margin-top: 20px;
}
