.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	background-color: #ffff;

	border-radius: 4px;
	margin-inline: 200px;
	padding: 20px;
	margin-top: 40px;
	font-size: 15px;
}

.logo {
	width: 300px;
	height: 150px;
}

.formContainer {
	width: 450px;
}

.linkContainer {
	margin-top: 20px;
}
