.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  align-items: center;
  position: sticky;
  top: 0;
  height: 45%;
  min-height: 343px;
  margin-left: 10px;
}

.contentContainer {
  margin: 10px 40px;
  flex: 1;
}

.monthTab {
	/* margin-right: 20px; */
	display: flex;
	flex-direction: column;
	padding-right: 100px;
}
