.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  width: 20%;
}

.transactionsHeader {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  justify-items: center;
  margin-left: 1%;
}

.detailedTransHeader {
  margin: 10px;
}
