.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.network {
	width: 100px;
	height: 100px;
}

.text {
	font-size: 20px;
}

.avatars {
	width: 200px;
	height: 250px;
}
