.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  width: 20%;
}

.futureCheckBox {
  display: flex;
  align-items: center;
}

.header {
  margin: 10px;
  align-self: center;
}

.tableHeaders {
  margin: 0;
}
