.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  width: 20%;
}

.transactionsHeader {
  grid-template-columns: 0fr 1fr 1fr 1fr 0fr 0fr;
  display: grid;
  justify-items: center;
  margin-right: 1%;
}

.detailedTransHeader {
  margin: 10px;
}

.iconLike {
  width: 40px;
}
