.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  width: 20%;
}

.transactionsHeader {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
}

.futureCheckBox {
  display: flex;
  align-items: center;
}

.header {
  margin: 10px;
  align-self: center;
}

.tableHeaders {
  margin: 15px;
}
