* {
  box-sizing: border-box;
}

.container {
  width: 40%;
  min-height: 350px;
  min-width: 760px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.container2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
